:root {
  --light-grey: hsl(200, 55%, 89%);
  --red: #FF0024;
}
body {
  margin: 0px;
  font-family: Outfit, sans-serif;
  font-size: 15px;
  overflow: hidden;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  overflow: hidden;
}

h1 {
  font-weight: 700;
  text-align: center;
}
p {
  text-align: center;
  margin: 0px 8px 16px 8px;
  color: #aaa;
  font-size: .8rem;
}

div.card {
  background-color: white;
  padding: 8px 16px;
  border-radius: 16px;
  max-width: 350px;
  margin: 16px 0px;
}
div.password-container {
  display: flex;
  justify-content: space-evenly;
}
div.password-container > * {
  border-radius: 8px;
  height: 32px;
  width: 32px;
  border: 1px solid var(--light-grey);
}
div.password-container > button:hover {
  cursor: pointer;
}
input.password-text {
  width: 250px;
  padding: 0px 8px;
}
div.feedback {
  width: fit-content;
  padding: 0 1em;
  font-size: .8em;
  color: var(--red);
  overflow: hidden;
  opacity: 0;
  translate: 0 -1em;
  transition: translate .4s, opacity .1s;
}
div.feedback.show {
  opacity: 1;
  translate: 0 0;
  transition: translate .1s, opacity .4s;
  pointer-events: none;
}

div.controls {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.character-group-controls {
  display: flex;
  flex-wrap: wrap;
  border-radius: .5em;
  border: 1px solid var(--light-grey);
  padding-top: .5em;
}
div.control {
  display: flex;
  align-items: center;
  font-size: .8rem;
  margin-bottom: 16px;
  width: 150px;
}
div.range-control {
  width: 300px;
  justify-content: flex-start;
  margin-left: 4px;
}
div.range-control > input {
  width: 160px;
  margin-left: 8px;
}

.reach-me {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.reach-me > a {
  margin: 0px 8px;
  text-decoration: none;
  color: #fff;
  background-color: #222;
  border-radius: 4px;
  padding : 0px 4px;
  font-size: .8rem;
  font-weight: 100;
  transition: background-color .5s ease;
}
.reach-me>a:hover {
  background-color: #444;
}
.footer {
  font-size: .6rem;
  text-align: center;
  color: #aaa;
}